.container {
  width: min-content;
  border: 30px solid pink;
}

.container > div > div {
  width: 50px;
  height: 50px;
  border: solid 1px;
  background-color: aquamarine;
  text-align: center;
}

.container > div {
  display: flex;
}

.container > :nth-child(odd) > :nth-child(even) {
  background-color: coral;
}

.container > :nth-child(even) > :nth-child(odd) {
  background-color: coral;
}
